{% extends 'TefNetwebAncestryBundle:Default:index.html.twig' %}

{% block  content_content -%}
    {% block headline %}
        {{ 'Ancestry Marriage creation'|trans }}
    {% endblock headline %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('marriage') }}">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
    </ul>
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('marriage') }}">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
